/*
    Document   : aboutme.css
    Created on : 2015-09-11 05:21 AM
    Author     : TShepp
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}


  body{
            background-color: lavender; 
        }
    h2{color:purple; font-family:serif;}
    p{font-family: sans-serif;}
    #main-title{
                position:absolute; 
                top:400px; 
                left:50px; 
                font-size:70px; 
                color:purple;
               }
  #picture-me{
      position:absolute;
  }      
  
/*Links*/
 a:link, a:visited{

        font-weight:bold;
        font-family:sans-serif;
        font-size:20px;
        color:white;
        background-color:purple;
        text-align:center;
        padding-left:26px;
        padding-right:26px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: -2px;
        text-decoration:none;
    }
    
    a:hover, a:active{
        background-color:#660066;
    }
     
   #img{float:right; margin:20px;}
   
  