/*
    Document   : htmlpage.css
    Created on : 2015-09-11 05:18 AM
    Author     : TShepp
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}
body{
        background-color:lavender;
    }
p{font-family:sans-serif;}
h2{color:blueviolet; font-family:cursive;}
#main-header{
    position:absolute;
    left:20px;
    top:500px;
    color:white;
    font-size:70px;
    }
#example{color:blueviolet;}
        
/*Links*/
a:link, a:visited{

    font-weight:bold;
    font-family:sans-serif;
    font-size:20px;
    color:white;
    background-color:blueviolet;
    text-align:center;
    padding-left:26px;
    padding-right:26px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: -2px;
    text-decoration:none;
    }

a:hover, a:active{
    background-color:#7C27CB;
    }
        
/*DEMONSTRATION*/
    .showbox {
    float: left;
    margin: 4em 1em;
    width: 150px;
    height: 60px;
    border: 2px solid blueviolet;
    background-color: #fff;
    line-height: 60px;
    text-align: center;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }
  .showbox.slideright:hover {
    -webkit-transform: translate(70em,0);
    -moz-transform: translate(70em,0);
    -o-transform: translate(70em,0);
    -ms-transform: translate(70em,0);
    transform: translate(70em,0);
  }