/*
    Document   : htmlpage.css
    Created on : 2015-09-11 05:18 AM
    Author     : TShepp
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}
body{
    background-color:whit;
}
p, li{
    font-family:sans-serif;
}
h2{
    color: #0066cc; 
    font-family: 'Poiret One', cursive;
    
}
#main-header{
    position:absolute;
    left:20px;
    top:400px;
    color:white;
    font-size:90px;
    font-family: 'Ruthie', cursive;
}
#example{
    color:blueviolet;
}
        
/*Links*/
a:link, a:visited{
    font-weight:bold;
    font-family: 'Poiret One', cursive;
    font-size:20px;
    color: #0066cc;
    background-color:white;
    text-align:center;
    padding-left:2%;
    padding-right:2%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: -0.2%;
    text-decoration:none;
}
a:hover, a:active{
    background-color:gainsboro;
}
        
/*DEMONSTRATION*/
    .showbox {
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    float: left;
    margin: 4em 1em;
    width: 150px;
    height: 60px;
    border: 2px solid blueviolet;
    background-color: #fff;
    line-height: 60px;
    text-align: center;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }
  .showbox.slideright:hover {
    -webkit-transform: translate(70em,0);
    -moz-transform: translate(70em,0);
    -o-transform: translate(70em,0);
    -ms-transform: translate(70em,0);
    transform: translate(70em,0);
  }