/*
    Document   : indexstyle.css
    Created on : 2015-09-01 08:09 PM
    Author     : TShepp
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

/*General Page*/
body{
    background-color: white;
}

/*Titles and Paragraphs*/
#welcome-title{
    position:absolute; 
    top:480px; left:20px; 
    font-size:100px; 
    font-family: 'Ruthie', cursive;
    color:white;
}
h2{
    font-family: 'Poiret One', cursive;
    font-size:30px; 
    color: #1a8cff;
}
p, ul{
    font-family:sans-serif;
}
#margin{
    margin-left:70px;
    margin-right:70px;
}

/*Links*/
 a:link, a:visited{

    font-weight:bold;
    font-family: 'Poiret One', cursive;
    font-size:20px;
    color: #1a8cff;
    background-color:white;
    text-align:center;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: -0.2%;
    text-decoration:none;
}
a:hover, a:active{
    background-color:gainsboro;
}