/*
    Document   : indexstyle.css
    Created on : 2015-09-01 08:09 PM
    Author     : TShepp
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

/*General Page*/
body{background-color: lavender; padding:5px;}

/*Titles and Paragraphs*/
#welcome-title{position:absolute; top:480px; left:20px; font-size:90px; font-family:serif;color:white;}
h2{font-family:serif; font-size:30px; color:bl; text-align: center;}
p, ul{font-family:sans-serif;}


/*Links*/
 a:link, a:visited{

        font-weight:bold;
        font-family:sans-serif;
        font-size:20px;
        color:white;
        background-color:blue;
        text-align:center;
        padding-left:26px;
        padding-right:26px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: -2px;
        text-decoration:none;
    }
    
    a:hover, a:active{
        background-color:#0000CC;
    }