/*Properties of the background and text*/
body{
    background-image: url("http://p1.pichost.me/i/68/1928853.jpg?dl=1");
    color: black;
    text-align: center;
    font-family: 'Raleway', sans-serif; 
}

/*Heading Properties*/
h1{
    color:white;
    font-family: 'Ruthie', cursive;
    font-size:70px;
}

/* The properties of the white rectangle in the middle of the page*/
#rectangle{
    width: 42%;
    height: 145%;
    background: white;
    position: absolute;
    left:29%;
    top: 30%;
    z-index:-1;
}

/*Links*/
 a:link, a:visited{
    font-family: 'Poiret One', cursive;
    font-weight:bold;
    font-size:20px;
    color:midnightblue;
    background-color:white;
    text-align:center;
    padding-left:2%;
    padding-right:2%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: -0.2%;
    text-decoration:none;
}
a:hover, a:active{
    background-color:whitesmoke;
}
    