/* Main body CSS */
body{
    color:yellow;
    background-color:royalblue;
    font-size:15px;
  }
  h1{
    text-align:center;
  }
  #bar{
    text-align:center;
  }
  #todolist{
    text-align:center;
  }
  
/*Links*/
 a:link, a:visited{

        font-weight:bold;
        font-family:sans-serif;
        font-size:20px;
        color: royalblue;
        background-color:white;
        text-align:center;
        padding-left:26px;
        padding-right:26px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: -2px;
        text-decoration:none;
    }
    
    a:hover, a:active{
        background-color:gainsboro;
    }
    