/*General Styling */
body{background-color: #4d0000;}
h1{color:white; text-align:center; font-family: serif;}
h2{color:white; font-family: serif;}
p{color:white; font-family: sans-serif;}
#coding{background-color:white; color:black;}
li{color:white; font-family:sans-serif;}

#firstPicture{text-align:center;}

/*Links*/
 a:link, a:visited{

        font-weight:bold;
        font-family:sans-serif;
        font-size:20px;
        color:#4d0000;
        background-color:white;
        text-align:center;
        padding-left:26px;
        padding-right:26px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: -2px;
        text-decoration:none;
    }
    
    a:hover, a:active{
        background-color:#f2f2f2;
    }